@mixin buttonStyle {
    width: auto;
    height: 30px;
    border: none;
    background-color: $mainColor;
    color: white;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: rgb(255, 63, 29);
    }
};